/*-- scss:defaults --*/
$body-bg: #fef9e7;
$body-color: #34495e;
$link-color: #3498db;
$sidebar-bg: #13252b;
$sidebar-fg: #ecf0f1;

/*-- scss:rules --*/
// This file can include additional SCSS variables and overrides